body {
    background-color: white;
    font-family: 'Raleway-Regular', Arial, serif;
    max-width: 1080px;
    margin: auto;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf') format('truetype');
}


/*
                Gestion du bandeau d'entête
*/

#entete {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

.entelem:nth-child(2) {
    flex: 1;
    text-align: right;
}

.entelem:nth-child(3) {
    width: 130px;
    text-align: center;
}

.menu ul {
    width: 50%;
    list-style-type: none;
    padding-top: 0px;
}

.menu ul:after {
    content: '';
    display: table;
    clear: both;
}

.menu li {
    border-top: 2px solid white;
    display: inline;
    padding-top: 29px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 30px;
}

.menu li:hover {
    border-top: 2px solid #0065FC;
}

.menu a:hover {
    color: #0065FC;
}

.inscrire {
    text-decoration: none;
}


/*
                Partie descriptive
*/

.desc1 {
    font-weight: bold;
    font-size: 1.3em;
}

.desc2 {
    margin-top: -15px;
    list-style-type: none;
}

.recherche {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.rechdeb {
    background-color: #F2F2F2;
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rechinp {
    line-height: 35px;
    border: solid 1px #F2F2F2;
    width: 150px;
    font-weight: bold;
}

.rechinp:focus {
    outline: 0;
}

.rechbut {
    height: 35px;
    border: 0;
    border-radius: 0 10px 10px 0;
    text-align: center;
    background-color: #0065FC;
    width: 90px;
    color: white;
    font-style: bold;
}

.rechbut:focus {
    outline: 0;
}

.filtre {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
}

.filt {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
    text-align: center;
    margin-right: 30px;
}

.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #DEEBFF;
    text-align: center;
    margin-right: -16px;
}

.imgcerc {
    margin: auto;
}

.titfil {
    border: 3px solid #F2F2F2;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    height: 34px;
    padding: 0px 20px 0px 25px;
    z-index: -1;
}


/*
                Gestion du pied
*/

#pied {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 200px;
    background-color: #F2F2F2;
}

.piedelem {
    width: 33%;
}

.piedelem ul {
    list-style-type: none;
}

.titpied {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 40px;
}

.ligpied {
    margin-bottom: 10px;
}


/*

*/

.fa-money-bill-wave,
.fa-dog,
.fa-child,
.fa-heart {
    color: #0065FC;
}