body {
    background-color: white;
    font-family: 'Raleway-Regular', Arial, serif;
    max-width: 1024px;
    margin: auto;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf') format('truetype');
}

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .menu {
        width: 30em;
    }
    nav {
        width: 100%;
        margin: 0 auto;
        top: 0px;
        position: sticky;
    }
    nav ul {
        list-style-type: none;
    }
    nav ul:after {
        content: '';
        display: table;
        clear: both;
    }
    nav li {
        width: 50%;
        text-align: center;
        margin-top: -16px;
        border-top: 2px solid white;
    }
    nav a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    nav li:hover {
        border-top: 2px solid #0065FC;
    }
    nav a:hover {
        color: #0065FC;
    }
    .inscrire {
        text-decoration: none;
    }
